In [3]:
import pandas as pd
import numpy as np

In [4]:
car=pd.read_csv('Quikr_car.csv')
car.head()

,Unnamed: 0,Name,Label,Location,Price,Kms_driven,Fuel_type,Owner,Year,Company
0,0,Ford Figo Duratec Petrol EXI 1.2 - 2015,PLATINUM,Bangalore,"₹3,80,000","35,056 kms",Petrol,NaN,2015,Ford
1,1,Maruti Suzuki Wagon R VXI BS IV - 2016,PLATINUM,Bangalore,"₹4,65,000","44,000 kms",Petrol,NaN,2016,Maruti
2,2,Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018,PLATINUM,Bangalore,"₹13,50,000","42,917 kms",Petrol,NaN,2018,Hyundai
3,3,Hyundai Venue - 2019,PLATINUM,Chennai,"₹10,19,699","16,112 kms",Petrol,2nd Owner,2019,Hyundai
4,4,Honda Jazz - 2017,PLATINUM,Pune,"₹7,13,499","30,988 kms",Petrol,2nd Owner,2017,Honda

In [5]:
car.shape

(1032, 10)

In [6]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1032 non-null   int64
 1   Name        1032 non-null   object
 2   Label       1032 non-null   object
 3   Location    1030 non-null   object
 4   Price       1032 non-null   object
 5   Kms_driven  1032 non-null   object
 6   Fuel_type   1032 non-null   object
 7   Owner       740 non-null    object
 8   Year        1032 non-null   int64
 9   Company     1032 non-null   object
dtypes: int64(2), object(8)
memory usage: 80.8+ KB

In [7]:
car['Year'].unique()

array([2015, 2016, 2018, 2019, 2017, 2013, 2012, 2020, 2014, 2011, 2021,
       2010, 2001, 2022, 2000, 2008, 2005, 2007, 2006, 2004, 2002, 2009,
       2003], dtype=int64)

In [8]:
car['Price'].unique()

array(['₹3,80,000', '₹4,65,000', '₹13,50,000', '₹10,19,699', '₹7,13,499',
       '₹3,91,099', '₹4,74,299', '₹12,52,999', '₹3,93,699', '₹7,30,899',
       '₹3,43,099', '₹7,07,599', '₹6,88,899', '₹14,21,599', '₹3,99,999',
       '₹14,73,299', '₹10,25,000', '₹7,35,000', '₹6,00,000', '₹8,00,000',
       '₹7,00,000', '₹8,20,000', '₹1,95,000', '₹18,50,000', '₹8,07,499',
       '₹5,22,999', '₹7,40,899', '₹11,41,999', '₹9,71,299', '₹6,40,999',
       '₹6,76,199', '₹5,62,399', '₹5,80,899', '₹7,70,999', '₹5,31,399',
       '₹3,67,299', '₹4,12,199', '₹14,60,099', '₹6,18,699', '₹4,85,000',
       '₹8,90,000', '₹2,45,000', '₹9,45,000', '₹5,90,000', '₹4,95,000',
       '₹4,75,000', '₹12,00,000', '₹4,90,199', '₹9,20,999', '₹5,54,399',
       '₹4,08,999', '₹12,48,299', '₹6,36,099', '₹4,52,699', '₹7,04,399',
       '₹5,53,599', '₹9,99,599', '₹6,84,699', '₹6,20,399', '₹5,49,899',
       '₹8,12,899', '₹6,56,699', '₹7,25,000', '₹37,00,000', '₹3,65,000',
       '₹2,80,000', '₹8,40,000', '₹8,18,599', '₹8,62,399', '₹6,73,599',
       '₹5,28,899', '₹5,27,999', '₹7,91,699', '₹3,92,999', '₹6,90,199',
       '₹4,74,699', '₹20,19,899', '₹5,62,299', '₹14,00,999', '₹4,47,599',
       '₹18,14,599', '₹9,20,399', '₹3,90,000', '₹6,50,000', '₹5,75,000',
       '₹5,25,000', '₹10,00,000', '₹3,25,000', '₹30,00,000', '₹3,43,299',
       '₹17,11,499', '₹9,18,799', '₹5,26,399', '₹8,81,099', '₹17,64,199',
       '₹6,39,199', '₹19,17,599', '₹4,66,599', '₹13,97,699', '₹5,04,399',
       '₹19,20,399', '₹9,17,599', '₹3,19,099', '₹4,84,399', '₹2,90,000',
       '₹17,90,000', '₹73,000', '₹22,00,000', '₹15,50,000', '₹4,20,000',
       '₹15,95,000', '₹5,73,499', '₹8,79,199', '₹7,33,399', '₹9,67,599',
       '₹15,39,299', '₹5,61,499', '₹10,42,699', '₹10,32,099', '₹9,03,499',
       '₹4,72,499', '₹7,71,299', '₹4,47,099', '₹5,04,599', '₹6,20,999',
       '₹4,33,999', '₹6,27,499', '₹3,60,000', '₹13,75,000', '₹69,000',
       '₹89,000', '₹44,25,000', '₹44,50,000', '₹7,04,199', '₹5,13,099',
       '₹4,69,399', '₹8,44,199', '₹5,44,799', '₹7,10,899', '₹5,80,599',
       '₹6,38,499', '₹6,54,699', '₹8,94,199', '₹8,58,599', '₹9,92,199',
       '₹7,14,999', '₹7,65,599', '₹18,00,299', '₹11,90,000', '₹14,52,000',
       '₹10,26,000', '₹8,21,000', '₹3,36,000', '₹2,00,000', '₹6,80,699',
       '₹7,14,899', '₹3,16,799', '₹6,75,099', '₹10,57,399', '₹9,38,099',
       '₹10,57,699', '₹6,10,099', '₹4,52,199', '₹7,12,699', '₹8,38,699',
       '₹6,66,899', '₹16,81,899', '₹18,54,599', '₹5,71,499', '₹5,89,199',
       '₹23,50,000', '₹36,50,000', '₹4,45,000', '₹12,31,000', '₹3,20,000',
       '₹11,75,000', '₹3,51,699', '₹2,99,199', '₹6,57,199', '₹5,39,299',
       '₹6,08,399', '₹10,42,799', '₹6,45,199', '₹8,11,899', '₹5,57,799',
       '₹8,73,999', '₹2,78,299', '₹9,86,399', '₹17,49,899', '₹4,43,899',
       '₹9,36,299', '₹8,50,000', '₹5,95,000', '₹1,75,000', '₹9,30,000',
       '₹15,00,000', '₹1,59,000', '₹4,04,499', '₹4,46,499', '₹10,47,499',
       '₹3,45,599', '₹7,84,399', '₹4,89,399', '₹2,88,399', '₹5,73,999',
       '₹13,73,699', '₹2,79,799', '₹6,58,199', '₹4,65,499', '₹5,63,999',
       '₹59,000', '₹1,19,000', '₹1,29,000', '₹29,31,000', '₹7,90,000',
       '₹7,18,699', '₹5,43,399', '₹17,80,399', '₹7,57,999', '₹10,13,999',
       '₹4,39,999', '₹8,39,199', '₹4,21,799', '₹9,86,799', '₹20,57,399',
       '₹10,82,299', '₹5,76,999', '₹5,33,199', '₹4,73,299', '₹18,38,399',
       '₹1,99,000', '₹17,50,000', 'Ask For Price', '₹18,90,000',
       '₹21,50,000', '₹6,99,000', '₹4,51,799', '₹4,46,999', '₹4,70,799',
       '₹5,11,799', '₹3,99,899', '₹3,75,999', '₹6,64,799', '₹6,17,799',
       '₹7,49,299', '₹7,95,799', '₹5,43,499', '₹3,17,199', '₹3,73,699',
       '₹5,01,799', '₹18,04,399', '₹1,70,000', '₹65,000', '₹2,99,000',
       '₹1,76,000', '₹9,85,299', '₹6,42,899', '₹7,40,000', '₹6,10,000',
       '₹5,10,000', '₹5,60,000', '₹4,55,000', '₹3,50,000', '₹4,63,099',
       '₹3,50,599', '₹6,36,299', '₹6,98,199', '₹7,64,199', '₹5,24,799',
       '₹18,31,000', '₹2,10,000', '₹22,50,000', '₹10,90,000', '₹3,75,000',
       '₹2,25,000', '₹4,93,899', '₹8,25,299', '₹4,95,499', '₹2,77,599',
       '₹4,73,899', '₹8,55,299', '₹5,40,299', '₹4,42,299', '₹7,25,399',
       '₹5,58,299', '₹3,54,299', '₹5,25,099', '₹6,75,000', '₹6,45,000',
       '₹7,85,000', '₹6,90,000', '₹4,25,000', '₹5,29,699', '₹10,81,899',
       '₹2,56,000', '₹12,44,799', '₹4,74,399', '₹3,89,399', '₹4,46,699',
       '₹9,18,999', '₹8,15,799', '₹8,96,799', '₹4,11,399', '₹4,98,999',
       '₹4,70,000', '₹9,25,000', '₹3,00,000', '₹4,50,000', '₹3,57,999',
       '₹4,62,599', '₹6,95,199', '₹4,90,399', '₹3,40,099', '₹9,97,899',
       '₹3,51,599', '₹6,03,799', '₹5,99,799', '₹4,56,099', '₹9,93,699',
       '₹3,12,299', '₹12,21,799', '₹3,23,399', '₹5,10,799', '₹7,50,000',
       '₹1,55,000', '₹4,10,000', '₹2,75,000', '₹1,45,000', '₹1,65,000',
       '₹9,10,799', '₹7,22,899', '₹8,09,499', '₹2,97,399', '₹4,11,999',
       '₹6,23,399', '₹3,72,399', '₹5,18,099', '₹4,85,599', '₹6,36,899',
       '₹3,96,999', '₹9,80,399', '₹6,58,999', '₹3,04,099', '₹3,62,599',
       '₹3,44,199', '₹2,15,000', '₹5,50,000', '₹79,000', '₹67,000',
       '₹4,62,399', '₹3,19,999', '₹2,75,699', '₹5,01,599', '₹5,06,599',
       '₹11,98,599', '₹7,75,499', '₹3,38,999', '₹6,52,699', '₹5,35,899',
       '₹4,92,099', '₹8,85,999', '₹6,94,899', '₹4,50,599', '₹3,77,999',
       '₹4,91,499', '₹18,65,000', '₹2,35,000', '₹15,75,000', '₹6,95,000',
       '₹2,95,000', '₹11,71,199', '₹6,25,699', '₹4,53,199', '₹8,50,499',
       '₹5,48,699', '₹4,98,799', '₹13,77,199', '₹7,72,799', '₹5,72,599',
       '₹7,74,899', '₹8,85,099', '₹6,87,499', '₹5,67,799', '₹3,98,499',
       '₹3,48,499', '₹5,20,899', '₹2,40,000', '₹5,00,000', '₹2,50,000',
       '₹9,75,000', '₹9,16,799', '₹4,80,999', '₹10,43,299', '₹7,87,399',
       '₹3,62,999', '₹4,03,199', '₹10,22,599', '₹4,83,199', '₹3,21,399',
       '₹3,07,999', '₹4,78,599', '₹4,05,199', '₹3,14,999', '₹6,84,599',
       '₹4,13,099', '₹3,45,000', '₹3,85,000', '₹8,25,000', '₹14,25,000',
       '₹5,01,199', '₹3,57,399', '₹4,94,199', '₹4,24,099', '₹5,98,299',
       '₹4,77,599', '₹7,03,999', '₹4,16,099', '₹5,59,099', '₹5,27,099',
       '₹15,17,999', '₹4,31,099', '₹5,39,799', '₹5,65,000', '₹4,35,000',
       '₹6,16,599', '₹16,56,999', '₹5,62,999', '₹4,88,899', '₹5,14,599',
       '₹4,95,299', '₹7,52,399', '₹4,74,799', '₹8,49,599', '₹6,63,199',
       '₹5,66,699', '₹4,71,199', '₹3,85,499', '₹4,91,599', '₹7,25,699',
       '₹4,60,000', '₹9,90,000', '₹1,90,000', '₹6,25,000', '₹6,40,099',
       '₹5,75,099', '₹7,26,399', '₹4,80,399', '₹3,69,599', '₹4,51,399',
       '₹4,94,099', '₹12,40,899', '₹2,86,199', '₹5,09,399', '₹3,78,099',
       '₹5,86,699', '₹9,06,899', '₹8,82,199', '₹5,07,999', '₹8,45,000',
       '₹13,25,000', '₹12,45,000', '₹7,82,999', '₹3,97,099', '₹3,92,099',
       '₹3,54,599', '₹7,19,599', '₹8,34,099', '₹3,65,899', '₹4,00,899',
       '₹3,20,199', '₹4,57,399', '₹7,17,699', '₹4,17,299', '₹3,23,199',
       '₹6,33,999', '₹7,95,000', '₹3,95,000', '₹3,30,000', '₹8,75,999',
       '₹3,09,399', '₹5,14,099', '₹6,72,899', '₹6,20,099', '₹7,33,999',
       '₹6,64,699', '₹4,54,299', '₹3,57,499', '₹4,22,299', '₹4,49,699',
       '₹4,93,499', '₹6,05,699', '₹7,55,099', '₹4,90,000', '₹1,60,000',
       '₹11,50,000', '₹3,49,000', '₹14,01,000', '₹4,32,699', '₹4,18,599',
       '₹2,75,799', '₹4,56,199', '₹7,28,499', '₹4,31,599', '₹5,33,099',
       '₹8,40,699', '₹4,86,499', '₹4,50,199', '₹4,18,999', '₹6,21,299',
       '₹5,08,399', '₹3,90,999', '₹36,00,000', '₹15,01,000', '₹11,00,000',
       '₹1,30,000', '₹4,64,199', '₹3,43,999', '₹4,41,499', '₹6,84,999',
       '₹8,15,399', '₹4,68,999', '₹11,94,799', '₹5,99,899', '₹7,10,199',
       '₹7,01,399', '₹8,34,599', '₹3,33,699', '₹3,49,799', '₹3,86,699',
       '₹10,50,000', '₹13,00,000', '₹6,59,199', '₹5,57,199', '₹4,26,199',
       '₹4,32,999', '₹4,58,399', '₹14,65,199', '₹7,83,099', '₹5,29,199',
       '₹4,47,199', '₹9,44,099', '₹4,52,099', '₹1,79,000', '₹7,75,000',
       '₹3,50,888', '₹2,23,299', '₹6,00,399', '₹3,67,399', '₹7,04,099',
       '₹3,77,899', '₹4,58,699', '₹5,66,199', '₹5,94,599', '₹6,78,699',
       '₹8,83,099', '₹5,78,099', '₹3,05,899', '₹9,90,888', '₹4,80,000',
       '₹8,41,499', '₹10,16,899', '₹7,48,599', '₹6,22,099', '₹5,30,699',
       '₹4,71,899', '₹5,05,399', '₹4,60,299', '₹6,83,999', '₹6,39,699',
       '₹5,10,499', '₹11,85,499', '₹5,79,899', '₹3,75,888', '₹7,78,888',
       '₹75,00,000', '₹5,82,899', '₹4,14,099', '₹5,16,599', '₹3,66,299',
       '₹3,75,899', '₹3,11,399', '₹5,01,999', '₹4,09,399', '₹17,37,899',
       '₹5,83,999', '₹6,54,299', '₹9,86,699', '₹4,14,199', '₹5,88,099',
       '₹8,75,000', '₹5,67,399', '₹8,05,099', '₹4,92,199', '₹4,95,799',
       '₹11,13,599', '₹2,99,999', '₹5,92,099', '₹3,22,299', '₹4,81,999',
       '₹5,34,599', '₹4,29,599', '₹7,23,799', '₹5,63,299', '₹2,14,199',
       '₹3,19,399', '₹1,80,000', '₹4,15,000', '₹4,30,000', '₹8,80,000',
       '₹8,10,399', '₹7,88,999', '₹5,08,799', '₹4,57,099', '₹6,12,899',
       '₹6,84,099', '₹7,16,699', '₹5,09,699', '₹3,37,799', '₹8,52,399',
       '₹17,84,699', '₹7,78,199', '₹7,05,099', '₹5,57,599', '₹15,18,099',
       '₹19,80,000', '₹10,59,000', '₹1,85,000', '₹7,10,000', '₹19,48,888',
       '₹22,72,499', '₹6,26,199', '₹2,36,099', '₹4,30,499', '₹4,42,799',
       '₹5,89,299', '₹2,98,199', '₹15,08,799', '₹4,73,699', '₹6,56,299',
       '₹3,45,799', '₹5,84,599', '₹7,86,799', '₹6,24,799', '₹4,72,399',
       '₹4,08,888', '₹2,88,888', '₹1,98,888', '₹8,98,888', '₹11,48,888',
       '₹97,000', '₹1,35,000', '₹6,87,199', '₹3,87,099', '₹6,50,599',
       '₹17,05,799', '₹5,26,899', '₹6,12,799', '₹2,69,099', '₹19,52,199',
       '₹6,46,299', '₹4,25,899', '₹4,96,399', '₹3,93,799', '₹6,19,599',
       '₹4,23,599', '₹8,31,999', '₹6,95,099', '₹9,80,000', '₹2,61,499',
       '₹6,49,699', '₹3,13,399', '₹21,22,099', '₹5,52,799', '₹4,90,099',
       '₹6,38,599', '₹3,74,799', '₹5,17,499', '₹5,53,899', '₹5,79,199',
       '₹5,31,999', '₹4,96,199', '₹6,59,099', '₹5,34,799', '₹9,50,000',
       '₹2,65,000', '₹74,999', '₹2,98,599', '₹4,22,999', '₹6,56,399',
       '₹6,88,599', '₹11,13,299', '₹5,87,399', '₹4,64,899', '₹3,02,699',
       '₹5,83,299', '₹8,77,999', '₹5,29,399', '₹4,39,000', '₹10,69,999',
       '₹5,89,999', '₹6,61,299', '₹4,29,099', '₹6,29,799', '₹3,97,299',
       '₹5,46,399', '₹4,12,999', '₹4,02,799', '₹9,15,699', '₹3,61,499',
       '₹3,57,899', '₹4,75,399', '₹4,85,299', '₹6,43,599', '₹2,55,000',
       '₹4,38,199', '₹9,24,599', '₹6,64,099', '₹4,62,299', '₹4,38,499',
       '₹6,80,999', '₹3,93,199', '₹6,46,799', '₹3,49,999', '₹4,19,599',
       '₹5,85,099', '₹6,27,799', '₹5,20,799', '₹4,10,199', '₹4,04,399',
       '₹6,82,799', '₹44,90,000', '₹1,50,000', '₹33,00,000', '₹20,00,000',
       '₹5,35,000', '₹10,45,799', '₹2,97,299', '₹9,80,199', '₹7,94,299',
       '₹4,11,899', '₹5,57,399', '₹8,96,099', '₹6,37,699', '₹2,54,499',
       '₹4,57,699', '₹3,61,599', '₹6,75,799', '₹3,89,499', '₹6,25,599',
       '₹6,86,999', '₹90,000', '₹6,20,000', '₹5,19,699', '₹3,24,599',
       '₹3,40,199', '₹6,93,999', '₹3,10,999', '₹7,22,199', '₹4,85,099',
       '₹6,14,999', '₹10,61,399', '₹8,79,699', '₹7,55,199', '₹8,16,399',
       '₹4,14,299', '₹4,76,299', '₹16,44,799', '₹4,40,000', '₹86,000',
       '₹3,52,199', '₹5,66,899', '₹6,50,699', '₹4,13,399', '₹6,45,799',
       '₹15,51,499', '₹8,11,799', '₹4,06,899', '₹7,27,299', '₹6,57,399',
       '₹6,37,599', '₹6,23,799', '₹4,22,899', '₹5,76,099', '₹19,87,699',
       '₹39,000', '₹3,26,000', '₹88,000', '₹16,52,199', '₹12,17,499',
       '₹11,98,299', '₹5,90,799', '₹8,44,999', '₹3,28,499', '₹7,69,599',
       '₹3,95,699', '₹2,94,799', '₹5,34,499', '₹6,81,399', '₹4,15,699',
       '₹3,00,199', '₹8,56,699', '₹4,81,399', '₹2,29,000'], dtype=object)

In [9]:
car['Fuel_type'].unique()

array([' Petrol', ' Petrol ', ' Diesel ', ' Diesel', ' Electric ', ' CNG',
       ' LPG', ' Petrol + CNG ', ' Hybrid ', ' CNG '], dtype=object)

In [10]:
car['Owner'].unique()

array([nan, ' 2nd Owner', ' 1st Owner', ' 3rd Owner'], dtype=object)

In [11]:
backup=car.copy()

In [12]:
car['Year']=car['Year'].astype(int)

In [14]:
car['Price']=car['Price'].str.replace('₹','')

In [15]:
car['Price']=car['Price'].str.replace(',','')

In [16]:
car['Price']

0        380000
1        465000
2       1350000
3       1019699
4        713499
         ...
1027     229000
1028     275000
1029    1750000
1030    1750000
1031    1750000
Name: Price, Length: 1032, dtype: object

In [17]:
car=car[car['Price']!='Ask For Price']

In [18]:
car['Price']=car['Price'].astype(int)

In [19]:
 car['Location'].value_counts()

Pune                  323
Chennai               312
Bangalore             256
Mumbai                 19
Kolkata                19
Madurai                12
Hyderabad              11
Jaipur                 10
Delhi                  10
Trichy                  8
Nagpur                  5
Ahmedabad               5
NaviMumbai              3
Lucknow                 2
Kozhikode               2
Bhubaneswar             2
Pondicherry             2
Surat                   2
GirSomnath              1
Anand                   1
Uttarpara               1
Muzaffarnagar           1
Kochi                   1
Dhanbad                 1
Mahasamund              1
Bilaspur                1
Dwarka                  1
Udaipur                 1
Thane                   1
Kurnool                 1
Gurgaon                 1
BolpurSantiniketan      1
Chandigarh              1
Malappuram              1
Nanded                  1
Coimbatore              1
Kanchipuram             1
Faridabad               1
Jagdalpur               1
Name: Location, dtype: int64

In [20]:
car.isnull().sum()

Unnamed: 0      0
Name            0
Label           0
Location        2
Price           0
Kms_driven      0
Fuel_type       0
Owner         288
Year            0
Company         0
dtype: int64

In [21]:
car['Owner'].value_counts()

 2nd Owner    482
 1st Owner    238
 3rd Owner     18
Name: Owner, dtype: int64

In [22]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1026 entries, 0 to 1031
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1026 non-null   int64
 1   Name        1026 non-null   object
 2   Label       1026 non-null   object
 3   Location    1024 non-null   object
 4   Price       1026 non-null   int32
 5   Kms_driven  1026 non-null   object
 6   Fuel_type   1026 non-null   object
 7   Owner       738 non-null    object
 8   Year        1026 non-null   int32
 9   Company     1026 non-null   object
dtypes: int32(2), int64(1), object(7)
memory usage: 80.2+ KB

In [23]:
car['Kms_driven']=car['Kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [24]:
car['Kms_driven']

0       35056
1       44000
2       42917
3       16112
4       30988
        ...
1027    65000
1028    60000
1029    31000
1030    31000
1031    31000
Name: Kms_driven, Length: 1026, dtype: object

In [25]:
car['Kms_driven'].value_counts()

85000    23
56000     8
55000     7
57000     6
80000     6
         ..
30731     1
21627     1
5580      1
41371     1
38766     1
Name: Kms_driven, Length: 828, dtype: int64

In [26]:
car['Kms_driven']=car['Kms_driven'].astype(int)

In [27]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1026 entries, 0 to 1031
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1026 non-null   int64
 1   Name        1026 non-null   object
 2   Label       1026 non-null   object
 3   Location    1024 non-null   object
 4   Price       1026 non-null   int32
 5   Kms_driven  1026 non-null   int32
 6   Fuel_type   1026 non-null   object
 7   Owner       738 non-null    object
 8   Year        1026 non-null   int32
 9   Company     1026 non-null   object
dtypes: int32(3), int64(1), object(6)
memory usage: 76.1+ KB

In [28]:
car.head()

,Unnamed: 0,Name,Label,Location,Price,Kms_driven,Fuel_type,Owner,Year,Company
0,0,Ford Figo Duratec Petrol EXI 1.2 - 2015,PLATINUM,Bangalore,380000,35056,Petrol,NaN,2015,Ford
1,1,Maruti Suzuki Wagon R VXI BS IV - 2016,PLATINUM,Bangalore,465000,44000,Petrol,NaN,2016,Maruti
2,2,Hyundai Creta 1.6 SX PLUS AUTO PETROL - 2018,PLATINUM,Bangalore,1350000,42917,Petrol,NaN,2018,Hyundai
3,3,Hyundai Venue - 2019,PLATINUM,Chennai,1019699,16112,Petrol,2nd Owner,2019,Hyundai
4,4,Honda Jazz - 2017,PLATINUM,Pune,713499,30988,Petrol,2nd Owner,2017,Honda

In [29]:
car['Name']=car['Name'].str.split(' ').str.slice(0,3).str.join(' ')

In [30]:
car['Name']

0          Ford Figo Duratec
1        Maruti Suzuki Wagon
2          Hyundai Creta 1.6
3            Hyundai Venue -
4               Honda Jazz -
                ...
1027       Hyundai i10 Magna
1028      Maruti Suzuki Alto
1029    Jeep Compass Limited
1030    Jeep Compass Limited
1031    Jeep Compass Limited
Name: Name, Length: 1026, dtype: object

In [31]:
car.reset_index()

,index,Unnamed: 0,Name,Label,Location,Price,Kms_driven,Fuel_type,Owner,Year,Company
0,0,0,Ford Figo Duratec,PLATINUM,Bangalore,380000,35056,Petrol,NaN,2015,Ford
1,1,1,Maruti Suzuki Wagon,PLATINUM,Bangalore,465000,44000,Petrol,NaN,2016,Maruti
2,2,2,Hyundai Creta 1.6,PLATINUM,Bangalore,1350000,42917,Petrol,NaN,2018,Hyundai
3,3,3,Hyundai Venue -,PLATINUM,Chennai,1019699,16112,Petrol,2nd Owner,2019,Hyundai
4,4,4,Honda Jazz -,PLATINUM,Pune,713499,30988,Petrol,2nd Owner,2017,Honda
...,...,...,...,...,...,...,...,...,...,...,...
1021,1027,1027,Hyundai i10 Magna,GOLD,Bangalore,229000,65000,Petrol,1st Owner,2014,Hyundai
1022,1028,1028,Maruti Suzuki Alto,GOLD,Bangalore,275000,60000,Petrol,NaN,2014,Maruti
1023,1029,1029,Jeep Compass Limited,GOLD,Mahasamund,1750000,31000,Diesel,1st Owner,2017,Jeep
1024,1030,1030,Jeep Compass Limited,GOLD,Bilaspur,1750000,31000,Diesel,1st Owner,2017,Jeep
1025,1031,1031,Jeep Compass Limited,GOLD,Jagdalpur,1750000,31000,Diesel,1st Owner,2017,Jeep

In [32]:
car['Label'].value_counts()

PLATINUM    687
GOLD        339
Name: Label, dtype: int64

In [33]:
car['Location'].value_counts()

Pune                  323
Chennai               312
Bangalore             256
Mumbai                 19
Kolkata                19
Madurai                12
Hyderabad              11
Jaipur                 10
Delhi                  10
Trichy                  8
Nagpur                  5
Ahmedabad               5
NaviMumbai              3
Lucknow                 2
Kozhikode               2
Bhubaneswar             2
Pondicherry             2
Surat                   2
GirSomnath              1
Anand                   1
Uttarpara               1
Muzaffarnagar           1
Kochi                   1
Dhanbad                 1
Mahasamund              1
Bilaspur                1
Dwarka                  1
Udaipur                 1
Thane                   1
Kurnool                 1
Gurgaon                 1
BolpurSantiniketan      1
Chandigarh              1
Malappuram              1
Nanded                  1
Coimbatore              1
Kanchipuram             1
Faridabad               1
Jagdalpur               1
Name: Location, dtype: int64

In [34]:
car.isnull().sum()

Unnamed: 0      0
Name            0
Label           0
Location        2
Price           0
Kms_driven      0
Fuel_type       0
Owner         288
Year            0
Company         0
dtype: int64

In [35]:
car=car.reset_index(drop=True)

In [36]:
car=car.loc[~car['Location'].isnull()]

In [37]:
car.isnull().sum()

Unnamed: 0      0
Name            0
Label           0
Location        0
Price           0
Kms_driven      0
Fuel_type       0
Owner         287
Year            0
Company         0
dtype: int64

In [38]:
car['Owner'].mode()

0     2nd Owner
Name: Owner, dtype: object

In [39]:
car['Owner']=car['Owner'].fillna(value=car['Owner'].mode()[0])

In [40]:
car.isnull().sum()

Unnamed: 0    0
Name          0
Label         0
Location      0
Price         0
Kms_driven    0
Fuel_type     0
Owner         0
Year          0
Company       0
dtype: int64

In [41]:
car

,Unnamed: 0,Name,Label,Location,Price,Kms_driven,Fuel_type,Owner,Year,Company
0,0,Ford Figo Duratec,PLATINUM,Bangalore,380000,35056,Petrol,2nd Owner,2015,Ford
1,1,Maruti Suzuki Wagon,PLATINUM,Bangalore,465000,44000,Petrol,2nd Owner,2016,Maruti
2,2,Hyundai Creta 1.6,PLATINUM,Bangalore,1350000,42917,Petrol,2nd Owner,2018,Hyundai
3,3,Hyundai Venue -,PLATINUM,Chennai,1019699,16112,Petrol,2nd Owner,2019,Hyundai
4,4,Honda Jazz -,PLATINUM,Pune,713499,30988,Petrol,2nd Owner,2017,Honda
...,...,...,...,...,...,...,...,...,...,...
1021,1027,Hyundai i10 Magna,GOLD,Bangalore,229000,65000,Petrol,1st Owner,2014,Hyundai
1022,1028,Maruti Suzuki Alto,GOLD,Bangalore,275000,60000,Petrol,2nd Owner,2014,Maruti
1023,1029,Jeep Compass Limited,GOLD,Mahasamund,1750000,31000,Diesel,1st Owner,2017,Jeep
1024,1030,Jeep Compass Limited,GOLD,Bilaspur,1750000,31000,Diesel,1st Owner,2017,Jeep
1025,1031,Jeep Compass Limited,GOLD,Jagdalpur,1750000,31000,Diesel,1st Owner,2017,Jeep

In [137]:
car['Label'].value_counts()

PLATINUM    687
GOLD        337
Name: Label, dtype: int64

In [138]:
car['Fuel_type'].value_counts()

 Petrol           571
 Diesel           158
 Petrol           152
 Diesel           131
 CNG                3
 CNG                3
 Electric           2
 Petrol + CNG       2
 LPG                1
 Hybrid             1
Name: Fuel_type, dtype: int64

In [140]:
car['Fuel_type']=car['Fuel_type'].str.replace(' ','')

C:\Users\Atul Sambyal\AppData\Local\Temp\ipykernel_4512\2948011243.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['Fuel_type']=car['Fuel_type'].str.replace(' ','')

In [141]:
car['Fuel_type'].value_counts()

Petrol        723
Diesel        289
CNG             6
Electric        2
Petrol+CNG      2
LPG             1
Hybrid          1
Name: Fuel_type, dtype: int64

In [142]:
car['Owner'].value_counts()

 2nd Owner    769
 1st Owner    237
 3rd Owner     18
Name: Owner, dtype: int64

In [162]:
car

,Unnamed: 0,Name,Label,Location,Price,Kms_driven,Fuel_type,Owner,Year,Company
0,0,Ford Figo Duratec,PLATINUM,Bangalore,380000,35056,Petrol,2nd Owner,2015,Ford
1,1,Maruti Suzuki Wagon,PLATINUM,Bangalore,465000,44000,Petrol,2nd Owner,2016,Maruti
2,2,Hyundai Creta 1.6,PLATINUM,Bangalore,1350000,42917,Petrol,2nd Owner,2018,Hyundai
3,3,Hyundai Venue -,PLATINUM,Chennai,1019699,16112,Petrol,2nd Owner,2019,Hyundai
4,4,Honda Jazz -,PLATINUM,Pune,713499,30988,Petrol,2nd Owner,2017,Honda
...,...,...,...,...,...,...,...,...,...,...
1021,1027,Hyundai i10 Magna,GOLD,Bangalore,229000,65000,Petrol,1st Owner,2014,Hyundai
1022,1028,Maruti Suzuki Alto,GOLD,Bangalore,275000,60000,Petrol,2nd Owner,2014,Maruti
1023,1029,Jeep Compass Limited,GOLD,Mahasamund,1750000,31000,Diesel,1st Owner,2017,Jeep
1024,1030,Jeep Compass Limited,GOLD,Bilaspur,1750000,31000,Diesel,1st Owner,2017,Jeep
1025,1031,Jeep Compass Limited,GOLD,Jagdalpur,1750000,31000,Diesel,1st Owner,2017,Jeep

In [158]:
car.reset_index(drop=True)

,Unnamed: 0,Name,Label,Location,Price,Kms_driven,Fuel_type,Owner,Year,Company
0,0,Ford Figo Duratec,PLATINUM,Bangalore,380000,35056,Petrol,2nd Owner,2015,Ford
1,1,Maruti Suzuki Wagon,PLATINUM,Bangalore,465000,44000,Petrol,2nd Owner,2016,Maruti
2,2,Hyundai Creta 1.6,PLATINUM,Bangalore,1350000,42917,Petrol,2nd Owner,2018,Hyundai
3,3,Hyundai Venue -,PLATINUM,Chennai,1019699,16112,Petrol,2nd Owner,2019,Hyundai
4,4,Honda Jazz -,PLATINUM,Pune,713499,30988,Petrol,2nd Owner,2017,Honda
...,...,...,...,...,...,...,...,...,...,...
1019,1027,Hyundai i10 Magna,GOLD,Bangalore,229000,65000,Petrol,1st Owner,2014,Hyundai
1020,1028,Maruti Suzuki Alto,GOLD,Bangalore,275000,60000,Petrol,2nd Owner,2014,Maruti
1021,1029,Jeep Compass Limited,GOLD,Mahasamund,1750000,31000,Diesel,1st Owner,2017,Jeep
1022,1030,Jeep Compass Limited,GOLD,Bilaspur,1750000,31000,Diesel,1st Owner,2017,Jeep
1023,1031,Jeep Compass Limited,GOLD,Jagdalpur,1750000,31000,Diesel,1st Owner,2017,Jeep

In [188]:
car.describe()

        Unnamed: 0         Price     Kms_driven         Year
count  1024.000000  1.024000e+03    1024.000000  1024.000000
mean    515.400391  6.859439e+05   50239.334961  2015.818359
std     298.377486  5.375162e+05   38137.141129     3.389105
min       0.000000  3.900000e+04       0.000000  2000.000000
25%     255.750000  4.110990e+05   26207.000000  2014.000000
50%     515.500000  5.576990e+05   44000.000000  2016.000000
75%     773.250000  7.877990e+05   67499.000000  2018.000000
max    1031.000000  7.500000e+06  690000.000000  2022.000000

In [189]:
car.to_csv('Cleaned car.csv')

In [213]:
y=car['Price']
x=car.drop(columns=['Price','Unnamed: 0'])

In [214]:
y

0        380000
1        465000
2       1350000
3       1019699
4        713499
         ...
1021     229000
1022     275000
1023    1750000
1024    1750000
1025    1750000
Name: Price, Length: 1024, dtype: int32

In [215]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [216]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [244]:
ohe=OneHotEncoder(handle_unknown = 'ignore')
ohe.fit(x[['Name','Label','Location','Fuel_type','Owner','Company']])

OneHotEncoder(handle_unknown='ignore')

In [245]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_,handle_unknown = 'ignore'),['Name','Label','Location','Fuel_type','Owner','Company']),remainder='passthrough')

In [246]:
lr=LinearRegression()

In [2]:
pipe=make_pipeline(column_trans,lr)

NameError: name 'make_pipeline' is not defined

In [248]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi Q3 -', 'Audi Q5 2.0', 'Audi Q7 3.0', 'Audi Q7 35',
       'BMW 3 Series', 'BMW 5 Series', 'BMW X5 xDrive30d',
       'Chevrolet Aveo -', 'Chevrolet Beat -', 'Chevrolet Beat LS',
       'Chevrolet Beat LT', 'Chevrolet Cruze LTZ', 'Chevrolet Optra -',
       'Chevrolet S...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Ford', 'Honda',
       'Hyundai', 'Jaguar', 'Jeep', 'Kia', 'Land', 'MG', 'Mahindra',
       'Maruti', 'Mercedes', 'Nissan', 'Porsche', 'Renault', 'Skoda',
       'Ssangyong', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'], dtype=object)],
                                                                handle_unknown='ignore'),
                                                  ['Name', 'Label', 'Location',
                                                   'Fuel_type', 'Owner',
                                                   'Company'])])),
                ('linearregression', LinearRegression())])

In [249]:
y_pred=pipe.predict(x_test)

In [250]:
r2_score(y_test,y_pred)

0.8049616542434096

In [251]:
scores=[]
for i in range(1000):
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred=pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [252]:
np.argmax(scores)

178

In [253]:
scores[np.argmax(scores)]

0.8049616542434096

In [254]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(x_train,y_train)
y_pred=pipe.predict(x_test)
r2_score(y_test,y_pred)

0.8049616542434096

In [255]:
import pickle

In [256]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [1]:
pipe.predict(pd.DataFrame([['Ford Figo Duratec','GOLD','Bangalore',60,'Petrol','1st Owner',2018,'Maruti']],columns=['Name','Label','Location','Kms_driven','Fuel_type','Owner','Year','Company']))

NameError: name 'pipe' is not defined

In [231]:
x

,Name,Label,Location,Kms_driven,Fuel_type,Owner,Year,Company
0,Ford Figo Duratec,PLATINUM,Bangalore,35056,Petrol,2nd Owner,2015,Ford
1,Maruti Suzuki Wagon,PLATINUM,Bangalore,44000,Petrol,2nd Owner,2016,Maruti
2,Hyundai Creta 1.6,PLATINUM,Bangalore,42917,Petrol,2nd Owner,2018,Hyundai
3,Hyundai Venue -,PLATINUM,Chennai,16112,Petrol,2nd Owner,2019,Hyundai
4,Honda Jazz -,PLATINUM,Pune,30988,Petrol,2nd Owner,2017,Honda
...,...,...,...,...,...,...,...,...
1021,Hyundai i10 Magna,GOLD,Bangalore,65000,Petrol,1st Owner,2014,Hyundai
1022,Maruti Suzuki Alto,GOLD,Bangalore,60000,Petrol,2nd Owner,2014,Maruti
1023,Jeep Compass Limited,GOLD,Mahasamund,31000,Diesel,1st Owner,2017,Jeep
1024,Jeep Compass Limited,GOLD,Bilaspur,31000,Diesel,1st Owner,2017,Jeep
1025,Jeep Compass Limited,GOLD,Jagdalpur,31000,Diesel,1st Owner,2017,Jeep

In [235]:
type(x['Owner'])

pandas.core.series.Series

In [234]:
x.shape

(1024, 8)

In [258]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1024 entries, 0 to 1025
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        1024 non-null   object
 1   Label       1024 non-null   object
 2   Location    1024 non-null   object
 3   Kms_driven  1024 non-null   int32
 4   Fuel_type   1024 non-null   object
 5   Owner       1024 non-null   object
 6   Year        1024 non-null   int32
 7   Company     1024 non-null   object
dtypes: int32(2), object(6)
memory usage: 64.0+ KB